html{
    height: 99%;
}

body{
    height:100%;
}

body * {
    box-sizing: border-box;
}

.contentVisualAttributesEditorView{
    height: 100%;
}

.visualAttributesList, .visualAttributesEditor{
    height:100%;
    border: 1px solid darkgray;
    float: left;
}

.visualAttributesList{
    width: 20%;
}

.visualAttributesEditor{
    width: 80%;
}

.editorDropZone{
    width: 100%;
    height: 100px;
    background-color: lightgrey;
}

.visualAttributesListHeader, .visualAttributesEditorHeader{
    height: 24px;
    background-color: #C7C7C7;
    color: black;
    font-weight: bold;
    padding-left: 11px;
}

.visualAttributesCanvas, .visualAttributesListData{
    height: calc(100% - 24px);
}

.visualAttributesCanvas{
    padding: 10px;
    background-color: #EFEFEF;
}

.templateContainer {
    width: 100%;
    margin-bottom: 10px;
    transition: all 0.8s;
}

.expanded>.templateHeader{
    width: 100%;
    text-align: center;
}

.expanded>.templateHeader>.templateTitle {
    clear: both;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    border: none;
}

.templateHeader {
    background-color: white;
    box-shadow: 0 1px 2px 2px #eee;
    height: 45px;
    width: 430px;
    margin-bottom: 0;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
}

.templateTitle {
    padding: 10px;
    float: left;
}

.tileView {
    float: left;
    margin-left: 20px;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    padding: 10px;
    width: 250px;
    height: 70%;
    overflow: hidden;
}

.expanded>.templateHeader>.tileView {
    opacity: 0;
}

.tileImage {
    height: 42px;
    width: 42px
    max-width: 100%;
    max-height: 100%;
}

/*.contentChildContainer {
    margin-left: 200px;
}*/

.visualAttributeDragElement{
    margin: 4px;
    border-radius: 0px;
    box-shadow: 2px 2px 2px #eee;
}

.visualAttributeDragElement .panel-body{
    padding:6px;
}

.descriptionView {
    /*min-height: 300px;*/
    /*min-width: 100%;*/
    height:300px;
    border: 1px solid #ddd;
    background-color: white;
}

.descriptionData {
    min-width: 100%;
    height: 100%;
    padding: 10px;
}

.visualAttributeDragElement .panel-body:hover {
    background-color: #E1EDFF;
}

.sectionMoreIcon{
    background-image: url('More-24_blue.png');
    height: 20px;
    width: 30px;
    background-repeat: no-repeat;
    float: right;
    margin: 8px;
}

.sectionMoreIcon:hover{
    background-image: url('More-24_grey.png');
}

.contentChildContainer .expanded.templateContainer {
    margin-left: 0px;
}

.contentChildContainer .templateContainer {
    margin-left: 30px;
    width: auto;
}

.expanded>.descriptionView>.templateContainer {
    margin-left: 200px;
}

.tileData p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.insert-image-button{
    height: 50px;
    width: 50px;
    background-image: url("plus.png");
    background-size: 100% 100%;
    margin: 0 auto;
    cursor: pointer;
}

.addImageOption{
    text-align: center;
}

.describedImage{
    max-width: 100%;
}