body * {
    box-sizing: border-box;
}

.contentVisualAttributesEditorView{
    height: 500px;
}

.visualAttributesList, .visualAttributesEditor{
    height:100%;
    border: 1px solid black;
    float: left;
}

.visualAttributesList{
    width: 20%;
}

.visualAttributesEditor{
    width: 80%;
}

.editorDropZone{
    width: 100%;
    height: 100px;
    background-color: lightgrey;
}

.visualAttributesListHeader, .visualAttributesEditorHeader{
    height: 20px;
    background-color: grey;
    color: white;
}

.templateContainer {

}

.templateHeader {
    background-color: white;
    box-shadow: 0 1px 2px 2px #eee;
}

.templateTitle {

}

.tileView {

}

.tileImage {
    height: 50px;
    width: 50px;
}

.contentChildContainer {
    margin-left: 200px;
}

.visualAttributeDragElement{
    margin: 4px;
}

.panel-body{
    padding:6px;
}