html{
    height: 97%;
    width: 99%;
}

body, .editor{
    height: 100%;
    width: 100%;
}

body *{
    box-sizing: border-box;
}

.structural-view{
    width: 35%;
}

.structural-view, .designer-view{
    float: left;
    height: 100%;
}

.designer-view{
    border-left: 1px solid #eee;
    /*margin-left: 10px;*/
    width: 65%;
}

.structural-view .paper-element .editable-text-div{
    box-shadow: 0 1px 1px 0 #D0D0D0;
    padding: 10px;
    color: #9CA7AD;
}

.structural-view .paper-element .editable-text-div:hover {
    box-shadow: 0 2px 2px 0 #6BB1DA;
}

.structural-view .paper-element .editable-text-div:focus {
    outline: none;
    box-shadow: 0 2px 2px 0 #007598;
}

.structural-view-elements, .design-view-elements{
    padding: 10px;
    overflow: auto;
    height: calc(100% - 20px);
}

.paper-element .container-children{
    margin-left: 30px;
}

.paper-element{
    margin-top: 3px;
}

.editor-header{
    color: #90A7E8;
    margin: 5px;
    box-shadow: 0 1px 4px -1px #EAEAEA;
    height: 20px;
}

.design-element{
    height: auto;
    min-height: 150px;
    box-shadow: 0 2px 5px 1px #D0D0D0;
    padding: 10px;
    /*margin: 10px;*/
    transition: min-height 0.3s, height 0.3s, width 0.3s, padding 0.3s, margin 0.3s;
    overflow: hidden;
    margin-top: 5px;
    background-color: rgba(255, 255, 255, 0.52);
}

.design-element.zoomed-in{
    min-height: 500px;
    height: 500px;
}

.design-element.hovered{
    box-shadow: 0 2px 5px 1px #9edcf4;
}

.design-element-title{
    font-size: 14px;
    color: #B1C5C7;;
    box-shadow: 0 1px 0px 0px #F5F5F5;
    margin: 5px;
    height: 16px;
}

.design-element-anim-enter {
    opacity: 0.01;
}

.design-element-anim-enter.design-element-anim-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.design-element-anim-leave {
    opacity: 1;
}

.design-element-anim-leave.design-element-anim-leave-active {
    opacity: 0.01;
    transition: opacity 200ms ease-in;
}

.design-element.childExpanded{
    width: 100%;
    padding: 0;
    margin: 2px;
}

.design-element.expanded{
    width: 100%;
    margin: 2px;
    padding: 10px;
    box-shadow: 0 2px 5px 1px #009d6b;
}

.text-editor{
    height: 100%;
}

.text-editor .fr-wrapper{
    height: 80%;
}

.text-editor .fr-wrapper .fr-element.fr-view{
    height: 100%;
}

.design-element .container-children{
    height: calc(100% - 16px);
}