html{
    font-family: 'Open Sans', sans-serif;
}

body, .editor{
    height: 100%;
    width: 100%;
}

body *{
    box-sizing: border-box;
}

.searchBarView{
    background-color: white;
}

.structural-view{
    width: 35%;
}

.structural-view, .designer-view{
    float: left;
    height: 100%;
}

.designer-view{
    border-left: 1px solid #eee;
    width: 65%;
}

.structural-view .paper-element .editable-text-div{
    box-shadow: 0 1px 1px 0 #D0D0D0;
    padding: 10px;
    color: #9CA7AD;
}

.structural-view .paper-element .editable-text-div:hover {
    box-shadow: 0 2px 2px 0 #6BB1DA;
}

.structural-view .paper-element .editable-text-div:focus {
    outline: none;
    box-shadow: 0 2px 2px 0 #007598;
}

.structural-view-elements, .design-view-elements{
    padding: 10px;
    overflow: auto;
    background-color: #F0F3F5;
    height: calc(100% - 60px);
}

.paper-element .container-children{
    margin-left: 30px;
}

.paper-element{
    margin-top: 3px;
    background-color: #F0F3F5;
}

.editor-header{
    font-size: .9rem;
    padding: 8px 12px;
}

.design-element{
    height: auto;
    min-height: 150px;
    box-shadow: 0 2px 5px 1px #D0D0D0;
    padding: 10px;
    /*margin: 10px;*/
    transition: min-height 0.3s, height 0.3s, width 0.3s, padding 0.3s, margin 0.3s;
    overflow: hidden;
    margin-top: 5px;
    background-color: white;
}

.design-element.hovered{
    box-shadow: 0 2px 5px 1px #9edcf4;
}

.design-element-title{
    margin: 5px;
}

.design-element-anim-enter {
    opacity: 0.01;
}

.design-element-anim-enter.design-element-anim-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.design-element-anim-leave {
    opacity: 1;
}

.design-element-anim-leave.design-element-anim-leave-active {
    opacity: 0.01;
    transition: opacity 200ms ease-in;
}

.design-element .container-children{
    height: calc(100% - 16px);
}

.design-element.childExpanded{
    width: 100%;
    padding: 0;
    /*margin: 2px;*/                               /*//////////*/
}

.design-element.expanded{
    width: 100%;
    margin: 2px;
    padding: 10px;
    box-shadow: 0 2px 5px 1px #00799D;
    /*min-height: 500px;*/
    /*height: 500px;*/
    background-color: #F7FCFF;
}

.design-element.expanded .container-children{
    overflow: auto;
    margin: 10px;
}

.design-element .text-editor {
    margin: 10px;
    overflow: hidden;
}

.design-element.expanded .text-editor{
    margin: 10px;
    overflow: hidden;
    height:  calc(100% - 30px);
}


.design-element.expanded .text-editor .fr-toolbar{
    border-top: 2px solid #EFF3F9;
    box-shadow: none;
}

.design-element.expanded .text-editor.fr-box.fr-basic.fr-top .fr-wrapper{
    height: calc(100% - 55px);
    box-shadow: none;
    box-shadow: none;
}

.design-element.expanded .text-editor .fr-wrapper .fr-element.fr-view{
    height: 100%;
}

.design-element.expanded .text-editor .fr-wrapper .fr-placeholder{
    color: #D2D7E2;
}

.design-element-title>div{
    height: 40px !important;
    width:100% !important;
}

.design-element-title label{
    top: 19px !important;
}

.design-element-title input{
    margin-top: 7px !important;
}

.design-element-title hr{
    bottom: 2px !important;
}

.toolbar-container{
    width: 100%;
    background-color: #eee;
    height: 32px;
}

.toolbar-content{
    display: inline-block;
    margin: 5px;
    padding: inherit;
    /*box-shadow: 0 2px 2px 1px #9CA7AD;*/
    font-size: small;
    color: rgba(122, 143, 198, 0.80);
    cursor: pointer;
    height: 22px;
    width: 22px;
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 3px;
}

.toolbar-content.createFrame{
    background-image: url('images/Plus-32%20(1).png');
}

.toolbar-content.removeChild{
    background-image: url('images/Minus-32.png');
}

.toolbar-content.indentRight{
    background-image: url('images/Double%20Right-32.png');
}

.toolbar-content.indentLeft{
    background-image: url('images/Double%20Left-32.png');
}

.toolbar-content.makeChild{
    background-image: url('images/Down%20Right-32%20(1).png');
}

.toolbar-content.collapseAll{
    background-image: url('images/Collapse%20Arrow-32.png');
}

.toolbar-content.expandAll{
    background-image: url('images/Expand%20Arrow-32.png');
}

.toolbar-content.expandContents{
    background-image: url('images/Expand Arrow-32.png');
}

.disable-click{
    pointer-events: none ;
    color: transparent;
    box-shadow: none;
}

.ctrl-clickedFrame{
    box-shadow: 0 3px 3px 0 green;
    color: #9CA7AD;
}

.multiSearchInputBox{
    width: 50%;
}

.content-edit-element{
    height: auto;
    min-height: 10px;
    /* box-shadow: 0 2px 5px 1px #D0D0D0; */
    transition: min-height 0.3s, height 0.3s, width 0.3s, padding 0.3s, margin 0.3s;
    overflow: hidden;
    background-color: #1c4355;
    font-size: 13px;
    /* padding: 10px; */
    color:white;
    box-shadow: 0 2px 5px 1px #B9D5E6;
    /*margin-top: 5px;*/
}

.content-edit-element.level2{
    background-color: #1f5a6d;
}

.content-edit-element.level3{
    background-color: #1f657f;
}

.content-edit-element.level4{
    background-color: #248fae;
}

.content-edit-element .content-element-title{
    text-shadow: 0px 1px 1px #09557B;
    margin: 10px;
    cursor: pointer;
    height: 17px;
}

.content-edit-element .content-element-data{
    margin: 10px
}

.compress{
    display: none;
}

.design-toolbar-container{

    margin: 2px;
}


.toolbar-content2{
    display: inline-block;
    margin: 5px;
    padding: inherit;
    /*box-shadow: 0 2px 2px 1px #9CA7AD;*/
    font-size: small;
    color: rgba(122, 143, 198, 0.80);
    cursor: pointer;
}


.toolbar-container2{
    /* box-shadow: 0 1px 1px 1px #D2D7E2; */
    width: 100%;
    /* margin: 5px; */
    background-color: #F0F3F5;
    height: 25px;
}



/*
.content-element-title{
    */
/*border-bottom: 1px solid black; *//*

    background-color: #2291C8;
    color: white;
    border-radius: 14px;
    padding-left: 10px;
    text-shadow: 0px 1px 1px #09557B;
    font-size: 13px;
    min-height: 19px;
    margin-top: 10px;
}

.content-edit-element .text-editor{
    width: 98%;
    margin: 14px auto;
    font-size: 13px;
}

.content-edit-element .text-editor .fr-toolbar.fr-top{
    border-top: 0;
    box-shadow: 0px 1px 2px 0px #E8E8E8;
    height: 36px;
}

.content-edit-element .text-editor.fr-box.fr-basic.fr-top .fr-wrapper{
    box-shadow: 0px 1px 2px 0px #E8E8E8;
    background: rgba(255, 255, 255, 0.53);
}

.content-edit-empty-placeholder{
    color: #ACBDD2;
    font-size: 13px;
}

.content-edit-element .text-editor .fr-toolbar .fr-command.fr-btn i, .fr-popup .fr-command.fr-btn i{
    font-size: 14px;
}

.content-edit-element .text-editor .fr-separator.fr-vs{
    height: 30px;
}*/
/*


.content-edit-element .content-element-data>div:not(.text-editor){
    height: 65px !important;
}

.content-edit-element .content-element-data label{
    top: 29px !important;
}

.content-edit-element .content-element-data input{
    */
/*margin-top: 7px !important;*//*

    margin-top: 7px !important;
}

.content-edit-element .content-element-data textarea{

}

.content-edit-element .content-element-data hr{
    */
/*bottom: 2px !important;*//*

    bottom: 10px !important;
}

.content-edit-element .content-element-data textarea{
   color:white !important;
}
*/
